@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;

    h1{
        color:#1C385C;
    }

    .nav-link{
        border:1px solid #E8E8E8;
    }

    .wrapper{
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

        table{
            margin-bottom: 0px;
            border:1px solid rgba(0,0,0,.03);

            thead{

                tr:first-child{

                    border-bottom: 1px solid #FFF;

                    th{
                        background-color: $primary;
                        color: #fff;
                        font-weight: normal;
                    }

                    th:first-child{
                        border-top-left-radius: 6px;
                    }
                    th:last-child{
                        border-top-right-radius: 6px;
                    }
                }

            }

            tbody{

                border-radius: 6px;

                tr:last-child{

                    td:first-child{
                        border-bottom-left-radius: 6px;
                    }

                    td:last-child{
                        border-bottom-right-radius: 6px;
                    }

                }

                tr{
                    transition: all 0.3s ease-in-out;
                }

                tr:hover{
                    transform: scale(1.05);
                    transition: all 0.3s ease-in-out;
                    position: relative;
                    z-index: 100;
                }

            }

        }

    }

    .card{
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        border: none;
    }

}
